{% extends 'base.html' %}{% block content %}
<h2>Help</h2>
<h3>Chesk In</h3>
<p>To Check in a guest silpy enter some of their details in to the form. this will perform a 'Fuzzy' search 
  and return a list of any matching records.
</p>
<p>
For example entering the last few digets of a ticket No. will return that ticket. Entering 'Skywalker' into the surnake field will
 return ALL members of the skywalket famiily, adding 'Luke' into the first name field as well will return only 'Luke Skywalker'
</p>
{% endblock %}