{% extends 'base.html' %}{% block content %}
        <button id="statistics" value="Reports"><a href='/stats'>Statistics</a></button>
        <form method="post">
            <br><br>
            <table>
                {% for field in fields[:-2] %}
                <td>
                    {{field}}    
                    <br>
                    <input type="text" name={{field}} id="{{field}}">
                </td>
                {% endfor %}
            </table>
            <input type="submit" value="Search">
        </form>
        <table>
            {%for field in fields[:-3] %}
                <th>{{field}}</th>
            {% endfor %}
            <th>Checkd In</th>
            {% for fields in results %}
                <tr> 
                <!--{{fieds}}-->       
                {% for result in fields[1:-3] %}
                        <td class="border">
                            {{result}}    
                        </td>
                {% endfor %}
                <!--Fields: Checked In: {{fields['Checked_In']}} Released:{{fields['Released']}} -->
                    <td>
                    {% if fields['Checked_In'] != "1": %}
                        <input type="checkbox" id="{{fields['id']}}" onclick="toggleStatus(this)" />
                      
                    {% elif fields['Released'] != '1' and (fields['Type'].lower()=='child' or fields['Type'].lower()=='adult' or fields['Type'] =="Dropin")%}
        
                        <button id="{{fields['id']}}" onclick="release(this)">Release</button>
                    {% elif fields['Released'] == '1'%}
                        Released    
                    {% else %}
                        Yes
                    {% endif %}                        
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}