{% extends 'base.html' %}{% block content %}
        <button id="statistics" value="Reports"><a href='/stats'>Statistics</a></button>
        <form method="post">
            <br><br>
            <table>
                {% for field in fields[:-1] %}
                <td>
                    {{field}}    
                    <br>
                    <input type="text" name={{field}} id="{{field}}">
                </td>
                {% endfor %}
            </table>
            <input type="submit" value="Search">
        </form>
        <table>
            {%for field in fields %}
                <th>{{field}}</th>
            {% endfor %}
            {% for fields in results %}
                <tr>    
                {% for result in fields[1:-2] %}
                        <td class="border">
                            {{result}}    
                        </td>
                {% endfor %}
                <!--Fields: {{fields['Checked_In']}} -->
                    <td>
                    {% if fields['Checked_In'] != "1": %}
                        <input type="checkbox" id="{{fields['id']}}" onclick="toggleStatus(this)" />
                      
                    {% elif fields['Released'] != '1' and (fields[5].lower()=='child' or fields[5].lower()=='adult' or fields[5] =="Dropin")%}
                        YES
                        <button id="{{fields['id']}}" onclick="release(this)">Release</button>
                    {% else %}
                        Yes
                    {% endif %}                        
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}